name: darc
services:
  darc:
    restart: always
    build:
      context: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 5194:5194
      # - name: main
      #   target: 8086
      #   app_protocol: http
      #   published: "80"
      #   mode: host # or ingress for load balanced
    deploy:
      mode: replicated
      replicas: 1
    environment:
      container: true
    develop:
      # replicas: 3
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - "**/.git/**"
            - "**/.jj/**"
            - "**/node_modules/**"
        - action: rebuild
          path: ./package.json
        - action: rebuild
          path: ./pnpm-lock.yaml
        - action: rebuild
          path: ./Dockerfile
    # volumes:
    #   - /var/run/docker.sock:/var/run/docker.sock
